@font-face{
    font-family: "comforta";
    src: url("./utils/font/Comfortaa-Regular.otf") format("otf"),
    url("./utils/font/Comfortaa-Regular.ttf") format("ttf"),
    url("./utils/font/Comfortaa-Regular.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comforta;
}

button , a{
    cursor: pointer;
}
body{
  overflow-x: hidden;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}
.darkmode{
  filter: invert(1);
  -webkit-filter: invert(1);
  background-color: #212529;
}

.darkmode .notInvert{
  filter: invert(1);
  -webkit-filter: invert(1);

}

::-webkit-scrollbar {
  width: 9px;
}
  ::-webkit-scrollbar-track {
  background: #ccc; 
}
  ::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.swal-overlay{
  background-color: rgba(0 , 0 , 0 , 0);
}

.swal-modal{
  box-shadow:0 0 20px 10px  #ccc;
}

